*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/banner.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 7% ;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-link li {
    list-style: none;
    display: inline-block;
    margin:10px 30px;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;

}

.registration-btn {
    text-decoration: none;
    background-color: #ff5361;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
}

.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 18%;
}

.search-bar {
    background-color: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.search-bar form input {
    display: block;
    border: none;
    outline: none;
    background: transparent;
}

.search-bar form button {
     background: #ff5361;
     border: none;
     height: 55px;
     width: 55px;
     border-radius: 50%;
     cursor: pointer;
}

.search-bar form button img {
    width: 15px;
    margin-top: 7px;
}

.sub-title {
    margin: 20px 60px;
    font-weight: 500;
    color: #333;
}

.exclusive {
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(250px,1fr)) ;
    grid-gap: 30px;
    margin: 0px 60px;
}

.exclusive div img {
    width: 100%;
    border-radius: 8px;
}

.exclusive div {
   position: relative;
}

.exclusive div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    color: #fff;
}

.sub-title-1 {
    margin: 20px 60px;
    font-weight: 500;
    color: #333;
}

.tranding {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin: 0px 60px;
}

.tranding div img {
    width: 100%;
    border-radius: 8px;
}

.tranding h3 {
    font-weight: 600;
    margin-top: 10px;
}

/*---call to action--- */

.cta {
    margin: 60px 60px;
    background-image: linear-gradient(to right, #63322f,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 5%;
    color: #fff;

}

.cta h3 {
    font-size: 3vw;
   line-height: 2.9vw;
    font-weight: 500;
}

.cta p {
    font-size: 18px;
    margin: 10px 0px;
}

.cta-btn {
    background-color: #ff5361;
    color: #fff;
    text-decoration:none;
    border-radius: 8px;
    padding: 12px 12px;
    margin-top: 10px;
    display: inline-block;
}

/*---traveller stories--*/

.sub-title-2 {
    margin: 20px 60px;
    font-weight: 500;
    color: #333;
}

.Stories {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin: 0px 60px;
}

.Stories div img {
    width: 100%;
    border-radius: 8px;
}

.Stories div {
    position: relative;
    text-align: center;
}

.Stories p {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.btn-2 {
    background-color: #ff5361;
    border-radius: 20px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    max-width: 280px;
    display: block;
    text-align: center;
    margin: 50px auto;
}

.container-3 {
    text-align: center;
    margin: 60px 0;
    color: #333;
    font-size: 17px;
}

.mess {
    font-size: 28px;
    margin-bottom: 45px;
    font-weight: 500;
}

.container-3 p {
    margin: 0 auto;
    width: 60%;
}
/*---footer--*/
.footer {
    text-align: center;
    margin: 80px 0 10px;
}

.footer a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin: 0 10px;
}

.footer hr {
    background:#352d2d;
    height: 1px;
    width: 100%;
    border: none;
    margin: 10px 0;
}

.footer p {
    padding-bottom: 15px;
}

nav .fa-bars {
    display: none;
}


/*---for small screen---*/

@media only screen and (max-width:700px){
            .logo{
                position: fixed;
                top: 4%;
                left: 7%;
            }

            nav{
                position: fixed;
                top: 0;
                z-index: 1;
                display: inline-block;
                width: 100%;
                background-color: #000;
                text-align: right;
                padding: 80px 5% 0;
                max-height: 90px;
                overflow: hidden;
                transition: max-height 0.5s;
            }

            nav .nav-link li {
                margin: 10px 0;
                display: block;
            }

            .registration-btn{
                margin: 15px 0 30px;
                display: inline-block;
                background-color: #fff;
                color: #000;

            }

            nav .fa-bars {
                display: block;
                position: fixed;
                color: #fff;
                top: 4%;
                right: 4%;
                font-size: 25px;

            }

            .hidemenu {
                max-height: 300px;
            }

            .header h1 {
                padding-top: 150px;
                font-size: 44px;
            }

            .search-bar{
                width: 90%;
                border-radius: 5px;
                padding: 20px 13px 30px;
                margin: 30px auto;
                position: relative;

            }

            .search-bar form {
                    display: block;
            }
            .search-bar form input {
                border-bottom: 1px solid#ddd;
                width: 100%;
                margin-bottom: 20px;
                margin-top: 10px;
                padding-bottom: 10px;
            }

            .search-bar form button{
                position: absolute;
                left: 50%;
                transform: translate(-50% -50%);
            }

            .cta h3 {
                font-size: 7vw;
                line-height: 8vw;
            }

            .cta-btn {
                padding: 6px 15px;
                margin-top: 10px;
                border-radius: 5px;
                font-size: 14px;
            }
            
            .Stories p {
                font-size: 22px;
            }

            .container-3 p {
                font-size: 16px;
            }



            
}
    


 
